<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue</title>
    </head>
    <body>
        <p>Cliquer <a href="{{ path('stripe_checkout') }}">ici</a> pour commencer le paiement avec Stripe.</p>
    </body>
</html>