{# templates/payment/success.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Paiement réussi</title>
</head>
<body>
    <h1>Merci pour votre paiement !</h1>
    <p>Votre abonnement a été activé avec succès.</p>
</body>
</html>
